.App {
color: #2b2b2b;
position: absolute;
left: 0;
width: 650px;
text-align: center;
top: 45%;
left: 50%;
margin-left: -325px;
margin-top: -325px;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

.App-section {
  max-width: 650px;
  margin-top: 10%;
}

.App-logo {
  margin-bottom: 7px;
}

h2 {
  font-size: 26px;
}

h2, h3 {
  font-weight: 700;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

li {
  display: inline-block;
}

 span.hello {
   color: #f9423a;
 }

hr.bottom-hr {
  height: 2px;
  background-color: #000;
  border: none;
}

#greeting, .body-copy {
  text-align: left;
}

/* Media Queries */

@media only screen and (max-width : 450px) {
  .App {
  width: 430px;
  position: absolute;
  left: 0;
  text-align: center;
  top: 40%;
  left: 50%;
  margin-left: -215px;
  margin-top: -215px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 13px;
  }

  ul li, ul li a {
    font-size: 11px;
  }
}

@media only screen and (max-width : 411px) {
  .App {
  width: 380px;
  position: absolute;
  left: 0;
  text-align: center;
  top: 32%;
  left: 50%;
  margin-left: -190px;
  margin-top: -190px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 13px;
  }
  ul li, ul li a {
    font-size: 11px;
  }
}

@media only screen and (max-width : 414px) {
  .App {
  width: 380px;
  position: absolute;
  left: 0;
  text-align: center;
  top: 32%;
  left: 50%;
  margin-left: -190px;
  margin-top: -190px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 13px;
  }
  ul li, ul li a {
    font-size: 11px;
  }
}

@media only screen and (max-width : 375px) {
  .App {
    width: 320px;
    position: absolute;
    left: 0;
    text-align: center;
    top: 28%;
    left: 50%;
    margin-left: -160px;
    margin-top: -160px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 11px;
    }
    ul li, ul li a {
      font-size: 9px;
    }
}

@media only screen and (max-width : 360px) {
  .App {
    width: 320px;
    position: absolute;
    left: 0;
    text-align: center;
    top: 32%;
    left: 50%;
    margin-left: -160px;
    margin-top: -160px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 11px;
    }
    ul li, ul li a {
      font-size: 9px;
    }
}

@media only screen and (max-width : 320px) {
  .App {
  width: 300px;
  position: absolute;
  left: 0;
  text-align: center;
  top: 32%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 11px;
  }
  ul li, ul li a {
    font-size: 9px;
  }
}

@media only screen and (max-width : 280px) {
  .App {
  width: 260px;
  position: absolute;
  left: 0;
  text-align: center;
  top: 24%;
  left: 50%;
  margin-left: -130px;
  margin-top: -130px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 10px;
  }
  ul li, ul li a {
    font-size: 8px;
  }
}
